@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar-nav .nav-link {
    font-size: 18px; 
}

.navbar-brand{
    font-size: 30px;
}

.background {
  background-color: hsla(45, 100%, 50%, 1);
  width: 100%;
}

.background h1{
    color: aliceblue;
}

.footer {
    background-color: hsla(45, 100%, 50%, 1);
    color: #fff;
    padding: 40px 0;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  .footer-links a:hover {
    text-decoration: underline;
  }
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
  }
  .social-icons a:hover {
    color: #007bff;
    text-decoration: none;
  }
  
  #mi_mapa { /* Establece el tamaño del mapa */
    height: 400px;
    width: 100%;
}
.info-sucursal {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}